.mapContainer, .maproot {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    
}

.red-marker {
    background-image: url('../../assets/img/icons/red-marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

